@model RooyaDev.Models.Team

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <!-- Right Panel -->

<div id="right-panel" class="right-panel">

    <!-- Header-->
    <header id="header" class="header">
        <div class="header-menu">
            <div class="col-sm-7">
                <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                <div class="center">
                    <i class="fa fa-laptop"> </i> <label>Employee Details </label>
                </div>
                <div class="header-left">
                </div>
            </div>
        </div>
    </header><!-- /header -->
    <!-- Header-->
    <div class="col-md-12">
        <h3 class="white"><i class="fa fa-laptop"></i>Employee Details </h3> <hr />
        <table class="table table-bordered table-hover white">
            <tr class="alert">
                <td class="col-md-6">Name</td>
                <td class="col-md-6">@Model.Name</td>
            </tr>
            <tr class="alert">
                <td class="col-md-6">Job</td>
                <td class="col-md-6">@Model.Job</td>
            </tr>
            <tr class="alert">
                <td class="col-md-6">Facebook link</td>
                <td class="col-md-6"><a href="@Model.FaceBook"><i class="fa fa-facebook"></i> </a></td>
            </tr>
            <tr class="alert">
                <td class="col-md-6">Twitter link</td>
                <td class="col-md-6"><a href="@Model.Twitter"><i class="fa fa-twitter"></i></a></td>
            </tr>
            <tr class="alert">
                <td class="col-md-6">Linkedin link</td>
                <td class="col-md-6"><a href="@Model.LinkedIn"><i class="fa fa-linkedin"></i></a></td>
            </tr>
            <tr class="alert">
                <td class="col-md-6">Photo</td>
                <td class="col-md-6">
                    <img src="~/Uploads/Team/@(Model.ID).jpg" />
                </td>
            </tr>
        </table>
        <a href="~/Teams/Edit/@Model.ID" class="btn btn-info">Edit</a>

    </div>
</div>