@model IEnumerable<RooyaDev.Models.Carrer>

@{
    ViewBag.Title = "Carrers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <!-- Right Panel -->

<div id="right-panel" class="right-panel">

    <!-- Header-->
    <header id="header" class="header">
        <div class="header-menu">
            <div class="col-sm-7">
                <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                <div class="center">
                    <i class="fa fa-tags"> </i> <label> Carrers</label>
                </div>

            </div>
        </div>

    </header><!-- /header -->
    <!-- Header-->


    <div class="col-md-12">
        <button data-toggle="modal" data-target="#modal1" class="btn btn-success"><i class="fa fa-plus-square"></i> &nbsp; ADD</button>

        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading"></div>
            <div class="panel-body">
                <p></p>
            </div>

            <!-- Table -->
            <table class="table table-hover table-bordered">
                <tr>
                    <td>Name</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="col-md-4">@item.Name</td>
                        <td class="col-md-2">
                            <a href="~/Carrers/Edit/@item.ID" class="btn btn-info">Edit</a>
                        </td>
                        <td class="col-md-2">
                            <a href="~/Carrers/Details/@item.ID" class="btn btn-primary">
                                Details
                            </a>
                        </td>
                        <td class="col-md-2">
                        
                            @using (Html.BeginForm("Delete", "Carrers", new { id = item.ID }, FormMethod.Post, null))
                            {
                                @Html.AntiForgeryToken()
                                <button type="submit" onclick="return confirm('Are You Sure You Want Delete This Carrer ?!');" class="btn btn-danger">Delete</button>
                            }   
                        
                        </td>
                    </tr>

                }

            </table>

        </div>
        <hr />
    </div><!-- .content -->

</div> <!-- /#right-panel -->
<!-- Right Panel -->

<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal-popup">
            <a href="#" class="close-link"><i class="icon_close_alt2"></i></a>
            <h3 class="white"><i class="fa fa-plus-square"></i> Add Carrers</h3> <hr />
            @using (Ajax.BeginForm("AddSkill", "Carrers", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "DIV", InsertionMode = InsertionMode.Replace }))
            {
                <div class="input-group">
                    <span class="input-group col-md-4" id="basic-addon3">Skill</span>
                    <input type="text" name="Skill" required class="form-control co-md-7">

                    <button type="submit" class="btn btn-success">add</button>
                </div> <br />
            }

            <div id="DIV">
                <table class="table table-info table-hover table-bordered">
                    <tr>
                        <td>Skill</td>
                        <td></td>
                    </tr>
                    @using RooyaDev.Models
                    @if (Session["Skills"] != null)
                    {
                        foreach (var item in Session["Skills"] as List<Skill>)
                        {
                            <tr>
                                <td>
                                    @item.Name
                                </td>
                            </tr>
                        }
                    }
                </table>
            </div>


            @using (Ajax.BeginForm("AddRequirment", "Carrers", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "DIV1", InsertionMode = InsertionMode.Replace }))
            {
                <div class="input-group">
                    <span class="input-group col-md-4" id="basic-addon3">Requirment</span>
                    <input type="text" name="Requirment" required class="form-control co-md-7">

                    <button type="submit" class="btn btn-success">add</button>
                </div> <br />
            }

            <div id="DIV1">
                <table class="table table-info table-hover table-bordered">
                    <tr>
                        <td>Requirment</td>
                        <td></td>
                    </tr>
                    @using RooyaDev.Models
                    @if (Session["Requirment"] != null)
                    {
                        foreach (var item in Session["Requirment"] as List<Requirment>)
                        {
                            <tr>
                                <td>
                                    @item.Name
                                </td>
                            </tr>
                        }
                    }
                </table>
            </div>




                
            <form action="~/Carrers/Create" method="post">
                @Html.AntiForgeryToken()
                <div class="input-group">
                    <span class="input-group col-md-4" id="basic-addon3">Name</span>
                    <input type="text" name="Name" required class="form-control col-md-8" id="basic-url" aria-describedby="basic-addon3">
                </div> <br />
                <div class="input-group">
                    <span class="input-group col-md-4" id="basic-addon3">Salary</span>
                    <input type="text" name="Salary" required class="form-control col-md-8" id="basic-url" aria-describedby="basic-addon3">
                </div> <br />
                <div class="input-group">
                    <span class="input-group col-md-4" id="basic-addon3">Type</span>
                    <input type="text" name="Type" required class="form-control col-md-8" id="basic-url" aria-describedby="basic-addon3">
                </div> <br />
                <div class="input-group">
                    <span class="input-group col-md-4" id="basic-addon3">Country</span>
                    <input type="text" name="Country" required class="form-control col-md-8" id="basic-url" aria-describedby="basic-addon3">
                </div> <br />

                <div class="input-group textarea">
                    <span class="input-group col-md-4" id="basic-addon3"> Description</span>
                    <textarea class="form-control col-md-8" name="Description" required id="basic-url" aria-describedby="basic-addon3"> </textarea>
                </div> <br />

                <button type="submit" class="btn btn-success">Add</button>
            </form>
        </div>
    </div>
</div>