@model RooyaDev.Models.Gallery

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 <!-- Right Panel -->

<div id="right-panel" class="right-panel">

    <!-- Header-->
    <header id="header" class="header">
        <div class="header-menu">
            <div class="col-sm-7">
                <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                <div class="center">
                    <i class="fa fa-pencil"> </i> <label> Edit Protfolio</label>
                </div>
                <div class="header-left">
                </div>
            </div>
        </div>
    </header><!-- /header -->
    <!-- Header-->
    <div class="col-md-12">
        <h3 class="white"><i class="fa fa-pencil"></i> Edit Protfolio</h3> <hr />
        <form action="~/Galleries/Edit" method="post" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            @Html.Hidden("ID", Model.ID)
            <div class="input-group">
                <span class="input-group col-md-4" id="basic-addon3">Name</span>
                <input type="text" class="form-control col-md-8" value="@Model.Name"  name="Name" required id="basic-url" aria-describedby="basic-addon3">
            </div> <br />
            <div class="input-group">
                <span class="input-group col-md-4" id="basic-addon3">Name AR</span>
                <input type="text" class="form-control col-md-8" value="@Model.Name_AR" name="Name_AR" required id="basic-url" aria-describedby="basic-addon3">
            </div> <br />
            <div class="input-group">
                <span class="input-group col-md-4" id="basic-addon3">Description</span>
                <textarea class="form-control col-md-8" name="Description" required id="basic-url" aria-describedby="basic-addon3">@Model.Description </textarea>
            </div> <br />
            <div class="input-group">
                <span class="input-group col-md-4" id="basic-addon3">Description AR</span>
                <textarea class="form-control col-md-8" name="Description_AR" required id="basic-url" aria-describedby="basic-addon3">@Model.Description_AR </textarea>
            </div> <br />

            <div class="input-group">
                <span class="input-group col-md-4" id="basic-addon3">Upload Photo</span>
                <input type="file" class="col-md-8" name="Photo" id="basic-url" aria-describedby="basic-addon3">
            </div> <br />
            <button type="submit" class="btn btn-success">save</button>
        </form>
    </div>
</div>

