@model RooyaDev.Models.Admin

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="right-panel" class="right-panel">

    <!-- Header-->
    <header id="header" class="header">
        <div class="header-menu">
            <div class="col-sm-7">
                <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                <div class="center">
                    <i class="fa fa-pencil"> </i> <label> Edit Admin</label>
                </div>
                <div class="header-left">
                </div>
            </div>
        </div>
    </header><!-- /header -->
    <!-- Header-->
    <div class="col-md-12">
        <h3 class="white"><i class="fa fa-pencil"></i> Edit Admin</h3> <hr />
        <form action="~/Admins/Edit" method="post" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            @Html.Hidden("ID",Model.ID)
            <div class="input-group">
                <span class="input-group col-md-4" id="basic-addon3">Name</span>
                <input type="text" class="form-control col-md-8" id="basic-url" value="@Model.Name" name="Name" required aria-describedby="basic-addon3">
            </div> <br />

            <div class="input-group">
                <span class="input-group col-md-4" id="basic-addon3">User Name</span>
                <input type="text" class="form-control col-md-8" value="@Model.User_Name" name="User_Name" required id="basic-url" aria-describedby="basic-addon3">
            </div> <br />

            <div class="input-group">
                <span class="input-group col-md-4" id="basic-addon3">Password</span>
                <input type="password" class="form-control col-md-8" value="@Model.Password" name="Password" required id="basic-url" aria-describedby="basic-addon3">
            </div> <br />


            <div class="input-group">
                <span class="input-group col-md-4" id="basic-addon3">Type</span>
                <select class="form-control dropdown col-md-8" aria-describedby="basic-addon3" name="Type">
                    @if(Model.Type==1)
                    {
                        <option value="1">Manager</option>
                        <option value="0">Normal</option>
                    }
                    else
                    {
                        <option value="0">Normal</option>
                        <option value="1">Manager</option>
                    }
                </select>
            </div> <br />

            <div class="input-group">
                <span class="input-group col-md-4" id="basic-addon3">Upload Photo</span>
                <input type="file" class="col-md-8" name="Photo" id="basic-url" aria-describedby="basic-addon3">
            </div> <br />
            <button type="submit" class="btn btn-success">Save</button>
        </form>
    </div>
</div>
