@model IEnumerable<RooyaDev.Models.Service>

@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

  <!-- Right Panel -->

<div id="right-panel" class="right-panel">

    <!-- Header-->
    <header id="header" class="header">
        <div class="header-menu">
            <div class="col-sm-7">
                <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                <div class="center">
                    <i class="fa fa-briefcase"> </i> <label> Services</label>
                </div>

            </div>
        </div>

    </header><!-- /header -->
    <!-- Header-->


    <div class="col-md-12">
        <button data-toggle="modal" data-target="#modal1" class="btn btn-success"><i class="fa fa-plus-square"></i> &nbsp; ADD</button>

        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading"></div>
            <div class="panel-body">
                <p></p>
            </div>

            <!-- Table -->
            <table class="table table-hover table-bordered">
                <tr>
                    <td>Name</td>
                    <td>Photo</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="col-md-4">@item.Name</td>
                        <td class="col-md-2"><img src="~/Uploads/Services/@(item.ID).jpg" /></td>
                        <td class="col-md-2">
                            <a href="~/Services/Edit/@item.ID" class="btn btn-info">Edit</a>
                        </td>
                        <td class="col-md-2">
                            <a href="~/Services/Details/@item.ID" class="btn btn-primary">
                                Details
                            </a>
                        </td>
                        <td class="col-md-2">
                        @using (Html.BeginForm("Delete", "Services", new { id = item.ID }, FormMethod.Post, null))
                        {
                            @Html.AntiForgeryToken()
                            <button type="submit" onclick="return confirm('Are You Sure You Want Delete This Service ?!');" class="btn btn-danger">Delete</button>
                        }                        
                        </td>
                    </tr>

                }
            </table>

        </div>
       
    </div><!-- .content -->

</div> <!-- /#right-panel -->
<!-- Right Panel -->

<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal-popup">
            <a href="#" class="close-link"><i class="icon_close_alt2"></i></a>
            <h3 class="white"><i class="fa fa-plus-square"></i> Add Service</h3> <hr />
            @using (Ajax.BeginForm("AddHead", "Services", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "DIV", InsertionMode = InsertionMode.Replace }))
            {
                <div class="input-group">
                    <span class="input-group col-md-4" id="basic-addon3">Head</span>
                    <input type="text" name="Head" style="width:unset" required class="form-control co-md-7">
            <br />
                    <span class="input-group col-md-4" id="basic-addon3">Head AR</span>
                    <input type="text" name="Head_AR" style="width:unset" required class="form-control co-md-7">
            <br />
                    <button type="submit" class="btn btn-success">add</button>
                </div> <br />
            }

                <div id="DIV">
                    <table class="table table-info table-hover table-bordered">
                        <tr>
                            <td>Head</td>
                            <td>Head AR</td>
                        </tr>
                        @using RooyaDev.Models
                        @if(Session["Heads"]!=null)
                        {
                            foreach (var item in Session["Heads"] as List<Head>)
                            {
                                <tr>
                                    <td>
                                        @item.Name
                                    </td>
                                    <td>
                                        @item.Name_AR
                                    </td>
                                </tr>
                                }
                        }
                    </table>
                </div>

            <form action="~/Services/Create" method="post" enctype="multipart/form-data">
                @Html.AntiForgeryToken()
                <div class="input-group">
                    <span class="input-group col-md-4" id="basic-addon3">Name</span>
                    <input type="text" name="Name" required class="form-control col-md-8" id="basic-url" aria-describedby="basic-addon3">
                </div> <br />
                <div class="input-group">
                    <span class="input-group col-md-4" id="basic-addon3">Name AR</span>
                    <input type="text" name="Name_AR" required class="form-control col-md-8" id="basic-url" aria-describedby="basic-addon3">
                </div> <br />

                <div class="input-group textarea">
                    <span class="input-group col-md-4" id="basic-addon3"> Description</span>
                    <textarea class="form-control col-md-8" required name="Description" id="basic-url" aria-describedby="basic-addon3"> </textarea>
                </div> <br />
                <div class="input-group textarea">
                    <span class="input-group col-md-4" id="basic-addon3"> Description AR</span>
                    <textarea class="form-control col-md-8" required name="Description_AR" id="basic-url" aria-describedby="basic-addon3"> </textarea>
                </div> <br />
                <div class="input-group">
                    <span class="input-group col-md-4 myfile" id="basic-addon3">Upload Photo</span>
                    <input type="file" class="col-md-8" required name="Photo" id="basic-url" aria-describedby="basic-addon3" multiple>
                </div> <br />
                <button type="submit" class="btn btn-success">Add</button>
            </form>
        </div>
    </div>
</div>

